In [60]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [61]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-06-06 02:05:38,-53.1500,-70.9167,35.71,87,90,8.34
1,1,San Jose,US,2021-06-06 02:05:00,37.3394,-121.8950,80.76,49,75,5.99
2,2,Katsuura,JP,2021-06-06 02:05:38,35.1333,140.3000,69.91,93,100,12.24
3,3,Santa Maria,BR,2021-06-06 02:05:39,-29.6842,-53.8069,61.25,97,100,5.10
4,4,Arcata,US,2021-06-06 02:05:39,40.8665,-124.0828,60.21,70,1,4.00

In [62]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [63]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [64]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [69]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,San Jose,US,2021-06-06 02:05:00,37.3394,-121.8950,80.76,49,75,5.99
6,6,Don Sak,TH,2021-06-06 02:05:40,9.3168,99.6918,85.06,72,100,14.70
7,7,Rikitea,PF,2021-06-06 02:05:40,-23.1203,-134.9692,76.23,80,54,12.57
25,25,Ahuimanu,US,2021-06-06 02:05:46,21.4447,-157.8378,83.91,63,20,14.97
29,29,Lorengau,PG,2021-06-06 02:05:47,-2.0226,147.2712,79.45,86,100,8.25
41,41,Atuona,PF,2021-06-06 02:04:58,-9.8000,-139.0333,79.38,69,10,14.61
42,42,Albany,US,2021-06-06 02:05:51,42.6001,-73.9662,75.92,68,17,8.57
45,45,Clyde,US,2021-06-06 02:05:52,41.3042,-82.9752,76.75,59,2,10.54
55,55,Avarua,CK,2021-06-06 02:05:55,-21.2078,-159.7750,75.25,73,40,5.75
56,56,Auki,SB,2021-06-06 02:05:56,-8.7676,160.7034,85.50,67,35,5.03

In [70]:
preferred_cities_df.count()

City_ID       198
City          198
Country       197
Date          198
Lat           198
Lng           198
Max Temp      198
Humidity      198
Cloudiness    198
Wind Speed    198
dtype: int64

In [71]:
preferred_cities_df = preferred_cities_df.dropna()

In [72]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [73]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
1   San Jose      US     80.76  37.3394 -121.8950
6    Don Sak      TH     85.06   9.3168   99.6918
7    Rikitea      PF     76.23 -23.1203 -134.9692
25  Ahuimanu      US     83.91  21.4447 -157.8378
29  Lorengau      PG     79.45  -2.0226  147.2712
41    Atuona      PF     79.38  -9.8000 -139.0333
42    Albany      US     75.92  42.6001  -73.9662
45     Clyde      US     76.75  41.3042  -82.9752
55    Avarua      CK     75.25 -21.2078 -159.7750
56      Auki      SB     85.50  -8.7676  160.7034

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [80]:
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng                  Hotel Name
1   San Jose      US     80.76  37.3394 -121.8950         The Westin San Jose
6    Don Sak      TH     85.06   9.3168   99.6918         Sea Sun Moon Hostel
7    Rikitea      PF     76.23 -23.1203 -134.9692              Pension Maro'i
25  Ahuimanu      US     83.91  21.4447 -157.8378         Paradise Bay Resort
29  Lorengau      PG     79.45  -2.0226  147.2712  Lorengau Harbourside Hotel
41    Atuona      PF     79.38  -9.8000 -139.0333                 Villa Enata
42    Albany      US     75.92  42.6001  -73.9662
45     Clyde      US     76.75  41.3042  -82.9752          Red Roof Inn Clyde
55    Avarua      CK     75.25 -21.2078 -159.7750                Paradise Inn
56      Auki      SB     85.50  -8.7676  160.7034                  Auki Motel

In [81]:
hotel_df = hotel_df.dropna()

In [82]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [79]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))